player-connection-mode=Listen
player-connection-guid=3322643141
player-connection-debug=0
player-connection-project-name=ZombieBalls2D
player-connection-ip=172.19.200.181
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=b35a2c1dacc94739a3be97aff3612028
